<p>My Notes</p>

<table class="table table-striped table-bordered">
    <tr style="background: rgb(56, 99, 179)">
      <th>DATE</th>
      <th>CONTENTS</th>
    </tr>
    <tr *ngFor = "let note of mynotes">
        <td>{{note.date}}</td>
        <td>{{note.contents}}</td>
        <td>
    </tr>
   
    <tr *ngIf = "mynotes && mynotes.length == 0">
      <td colspan="3">no records found</td>
    </tr>
  </table>

  <p>Shared Notes</p>

  <table class="table table-striped table-bordered">
    <tr style="background: rgb(56, 99, 179)">
      <th>OWNER</th>
      <th>DATE</th>
      <th>CONTENTS</th>
    </tr>
    <tr *ngFor = "let note of sharednotes">
        <td>{{note.owner}}</td>
        <td>{{note.date}}</td>
        <td>{{note.contents}}</td>
        <td>
    </tr>
   
    <tr *ngIf = "sharednotes && sharednotes.length == 0">
      <td colspan="3">no records found</td>
    </tr>
  </table>